<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Validator v1.0</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <style>
      /* Importing Google Font */
      @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

      /* Body Styling */
      body {
        font-family: "Comfortaa", sans-serif;
        background-color: #78bcc4;
        height: 100vh;
      }

      /* Container Styling */
      .container {
        background-color: #f7f8f3;
        position: absolute;
        top: 15%;
        border-radius: 10px;
        margin-left: 20%;
        margin-right: 20%;
        padding: 20px;
      }

      /* Status Bar Styling */
      #statusBar {
        background-color: #ffd900;
        border-radius: 10px;
        margin-top: 15px;
        padding: 20px;
        font-weight: bold;
        display: none; /* Initially hidden */
      }

      /* Button Styling */
      .btn-primary {
        background-color: #002c3e;
        border-radius: 5px;
        border: none;
      }

      .btn-secondary {
        background-color: #f7444e;
        border-radius: 5px;
        border: none;
      }

      .btn-primary:hover,
      .btn-secondary:hover {
        background-color: gray; /* Change this to the color you want on hover */
      }
      .btn-primary:disabled,
      .btn-secondary:disabled {
        background-color: gray;
      }
    </style>
  </head>
  <body>
    <div class="main-body">
      <div class="container">
        <!-- Mode Switch -->
        <div class="form-group">
          <label for="modeSwitch">Switch to:</label>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="modeSwitch" />
            <label class="custom-control-label" for="modeSwitch">CSV</label>
          </div>
        </div>
        <!-- Email Input Form -->
        <form
          id="emailInputForm"
          method="post"
          action="/validate-email"
          onsubmit="handleSubmit(event)"
        >
          <div id="emailInputField" class="form-group">
            <label for="emailInput">Email</label>
            <input
              type="text"
              class="form-control"
              id="emailInput"
              placeholder="email@example.com"
            />
          </div>
          <!-- CSV Input Field -->
          <div id="csvInputField" class="form-group" style="display: none">
            <label for="csvFileInput">Browse File</label>
            <input type="file" class="form-control-file" id="csvFileInput" accept=".csv" />
            <br />
            <label for="selectedFileInfo">Selected File:</label>
            <div id="selectedFileInfo" class="border p-3">No file selected</div>
          </div>
          <!-- Deliverability Switch -->
          <div id="checkDeliverablilityField" class="form-group">
            <label for="deliverabilitySwitch">Check domain server deliverability:</label>
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                id="deliverabilitySwitch"
                checked
              />
              <label class="custom-control-label" for="deliverabilitySwitch">Yes</label>
            </div>
          </div>
          <!-- Existence Switch -->
          <div id="checkExistanceField" class="form-group">
            <label for="existanceSwitch">
              Check existence
              <span style="color: #f7444e; font-weight: bold; margin-right: 2px"
                >[Most reliable, Very Slow] </span
              >:
            </label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="existanceSwitch" checked />
              <label class="custom-control-label" for="existanceSwitch">Yes</label>
            </div>
          </div>
          <!-- Submit and Cancel Buttons -->
          <button id="formSubmitButton" type="submit" class="btn btn-primary">Validate</button>
          <button id="formCancelButton" type="reset" class="btn btn-secondary">Cancel</button>

          <!-- Status Bar -->
          <div id="statusBar"></div>
          <!-- hidden input fields-->
          <!-- <input type="hidden" name="request_type" value="initiate-request" /> -->
        </form>
        <!-- cacel request POST form -->
        <form id="requestCancellationForm" method="post" action="/cancel-request">
          <!-- <input type="hidden" name="request_type" value="cancel-request" /> -->
        </form>
      </div>
    </div>
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- JavaScript Scripts -->
    <script id="toggleValidateButtonIfInputScript">
      // Toggle Validate Button Based on Input
      var emailInput = document.getElementById("emailInput");
      var csvFileInput = document.getElementById("csvFileInput");
      var validateButton = document.getElementById("formSubmitButton");
      var cancelButton = document.getElementById("formCancelButton");

      // Initially disable the Cancel button
      cancelButton.disabled = true;

      emailInput.addEventListener("input", toggleValidateButton);
      csvFileInput.addEventListener("change", toggleValidateButton);

      // Event listener for form submission
      document.getElementById("emailInputForm").addEventListener("submit", function () {
        // Disable the Validate button and enable the Cancel button after form submission
        validateButton.disabled = true;
        cancelButton.disabled = false;
      });

      // Event listener for Cancel button click
      cancelButton.addEventListener("click", function () {
        // Enable the Validate button and disable the Cancel button after cancellation
        validateButton.disabled = false;
        cancelButton.disabled = true;
      });

      function toggleValidateButton() {
        var switchState = document.getElementById("modeSwitch").checked;
        if (switchState) {
          validateButton.disabled = !csvFileInput.value;
        } else {
          validateButton.disabled = !emailInput.value;
        }
      }

      // Call the function initially to set the button state
      toggleValidateButton();
    </script>
    <script id="formSubmitHandlerScript">
      // Handle Form Submission
      async function handleSubmit(event) {
        event.preventDefault();
        let modeSwitchState = document.getElementById("modeSwitch").checked;
        let deliverabilitySwitchState = document.getElementById("deliverabilitySwitch").checked;
        let existanceSwitchState = document.getElementById("existanceSwitch").checked;

        if (modeSwitchState) {
          let csvFileInput = document.getElementById("csvFileInput");
          if (csvFileInput.files.length > 0) {
            let file = csvFileInput.files[0];
            let text = await file.text();
            let emails = text.split("\r\n");

            // Add emails to hidden input field
            addHiddenInput("emails", emails.join(","));
            addHiddenInput("payload_type", "emails");

            // Update estimated time
            updateEstimatedTime(emails.length);
          }
        } else {
          let emailInput = document.getElementById("emailInput");

          // Add email to hidden input field
          addHiddenInput("email", emailInput.value);
          addHiddenInput("payload_type", "email");

          // Update estimated time
          updateEstimatedTime(1);
        }

        if (deliverabilitySwitchState) {
          addHiddenInput("checkDeliverability", "true");
        } else {
          addHiddenInput("checkDeliverability", "false");
        }

        if (existanceSwitchState) {
          addHiddenInput("checkExistance", "true");
        } else {
          addHiddenInput("checkExistance", "false");
        }

        document.getElementById("statusBar").style.display = "block";

        // Submit the form
        event.target.submit();

        // Disable the Validate button after the POST request has been made
        validateButton.disabled = true;
      }
      // Function to add a hidden input to the form
      function addHiddenInput(name, value) {
        let input = document.createElement("input");
        input.type = "hidden";
        input.name = name;
        input.value = value;
        document.getElementById("emailInputForm").appendChild(input);
      }

      // Function to update estimated time
      function updateEstimatedTime(email_count) {
        var minTime = 5;
        var maxTime = 15;
        email_count = Number(email_count);
        document.getElementById("statusBar").textContent =
          "ETA: " +
          secondsToHms(maxTime * email_count) +
          "±" +
          secondsToHms(minTime * email_count) +
          ". Processing request, please wait...";
      }

      // Function to convert seconds to hours, minutes, and seconds format
      function secondsToHms(d) {
        d = Number(d);
        var h = Math.floor(d / 3600);
        var m = Math.floor((d % 3600) / 60);
        var s = Math.floor((d % 3600) % 60);

        var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours") : "";
        var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes ") : "";
        var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
        return hDisplay + mDisplay + sDisplay;
      }
    </script>
    <script id="cancellationRequestHandlerScript">
      document.getElementById("formCancelButton").addEventListener("click", function (event) {
        // Prevent the default action
        event.preventDefault();

        // Submit the requestCancellationForm
        document.getElementById("requestCancellationForm").submit();
      });
    </script>
    <script id="validateButtonHandlerScript">
      // Handle Validate Button
      var validateButton = document.querySelector('button[type="submit"]');
      var cancelButton = document.querySelector('button[type="reset"]');
      var emailInput = document.getElementById("emailInput");
      var csvFileInput = document.getElementById("csvFileInput");

      // Initially disable the Cancel button
      cancelButton.disabled = true;

      // Event listeners for input changes
      emailInput.addEventListener("input", toggleValidateButton);
      csvFileInput.addEventListener("change", toggleValidateButton);

      // Event listener for form submission
      document.getElementById("emailInputForm").addEventListener("submit", function () {
        // Enable the Cancel button after form submission
        cancelButton.disabled = false;
      });

      // Event listener for Cancel button click
      cancelButton.addEventListener("click", function () {
        // Enable the Validate button and disable the Cancel button after cancellation
        validateButton.disabled = false;
        cancelButton.disabled = true;
      });

      function toggleValidateButton() {
        var switchState = document.getElementById("modeSwitch").checked;
        if (switchState) {
          validateButton.disabled = !csvFileInput.value;
        } else {
          validateButton.disabled = !emailInput.value;
        }
      }

      // Call the function initially to set the button state
      toggleValidateButton();
    </script>
    <script id="modeSwitchScript">
      // Handle Mode Switching
      var modeSwitch = document.getElementById("modeSwitch");
      var emailInputField = document.getElementById("emailInputField");
      var csvInputField = document.getElementById("csvInputField");
      modeSwitch.addEventListener("change", handleModeSwitchChange, false);

      function handleModeSwitchChange(e) {
        if (e.target.checked) {
          emailInputField.style.display = "none";
          csvInputField.style.display = "block";
        } else {
          emailInputField.style.display = "block";
          csvInputField.style.display = "none";
        }
      }
    </script>
    <script id="fileInputHandlerScript">
      // Handle File Input
      var csvFileInput = document.getElementById("csvFileInput");
      var selectedFileInfo = document.getElementById("selectedFileInfo");
      csvFileInput.addEventListener("change", handleFileInput, false);

      function handleFileInput(e) {
        var file = e.target.files[0];
        var extension = file.name.split(".").pop().toLowerCase();
        if (
          (file.type === "text/csv" || file.type === "application/vnd.ms-excel") &&
          extension === "csv"
        ) {
          selectedFileInfo.textContent = file.name;
        } else {
          selectedFileInfo.textContent = "No file selected";
        }
      }
    </script>
  </body>
</html>
